.catalog {
  &-wrapper {
    width: 100%;
    //text-align: center;
  }
  &-slider-wrapper {
    width: 100%;
    position: relative;

    & .slick-prev,
    .slick-next {
      @include slider-arrows();
    }

    & .slick-prev {
      @include slider-arrow-left();
    }
    & .slick-next {
      @include slider-arrow-right();
    }
  }

  & .category {
    //боковые отступы
    padding: 0 25px 10px;

    @include for-size(lg) {
      padding: 0 0 25px;
    }

    & .nav {
      @include for-size(400) {
        flex-wrap: nowrap;
      }
    }

    & .nav .nav-item {
      margin: 5px;

      @include for-size(400) {
        margin: 2px;
      }
      @include for-size(sm) {
        margin: 5px;
      }
    }
    &-btn {
      color: $font-color-default;
      background-color: transparent;
      padding: 5px 10px;
      border-radius: 7px;
      border: 1px solid $font-color-default;
      outline: none;
      transition: 0.3s;
      &:hover {
        border: 1px solid $font-color-active-1;
        color: $font-color-active-1;
        transition: 0.2s;
      }
      &-active {
        transition: 0.3s;
        background-color: rgb(253, 252, 252);
        color: $font-color-active-1 !important;
        border: 1px solid $font-color-active-1 !important;
      }
      @include for-size(400) {
        padding: 2px 6px;
        font-size: 12px;
      }
      @include for-size(sm) {
        padding: 5px 15px;
        font-size: inherit;
      }
    }
  }
  &-btn-wrapper {
    
    margin-top: 10px;
    //боковые отступы
    padding: 0 30px;
    text-align: center;

    & img {
      margin: 0 auto;
      display: block;
      width: 15px;
      height: 20px;      
    }

    & span:first-child {
      font-size: 18px;
      display: inline-block;
      
    }
/*     & a {
      cursor: pointer;
      @include link();
    } */

  }
  &-slider.slick-slider {
    margin-bottom: 0;
    overflow: hidden;

    & .slick-slide {
      margin: 0 30px;

      @include for-size(sm) {
        margin: 0 10px;
      }
      @include for-size(lg) {
        margin: 0 15px;
      }

      & a {
        text-decoration: none;
        //outline: none;
      }
      & .card-body {
        text-align: center;
        & h5 {
          display: inline-block;
          color: $font-color-active-1;

          &:focus,
          &:active {
            outline: none !important;
            text-shadow: 1px 0 0;
          }
        }
        & p {
          color: $font-color-default;
        }
      }
      & img {
        width: 100%;
      }
    }

    & .slick-list {
      margin-left: -30px;
      margin-right: -30px;

      @include for-size(sm) {
        margin-left: -10px;
        margin-right: -10px;
      }
      @include for-size(lg) {
        margin-left: -15px;
        margin-right: -15px;
      }
    }
    & .slick-dots {
      //боковые отступы
      padding: 0 30px;
      @include slider-dots();
    }
  }
}
