@import "../mixins";
@import "../variables";

#footer {
  width: 100%;

  .footer-contacts__wrapper {
    background: url("../assets/bg/wood.jpg");
    background-size: cover;
  }
}
.map {
  height: 400px;
}
.contacts {
  height: 250px;
}
