@import "../mixins";
@import "../variables";

.header {
  width: 100%;
  background: url("../assets/bg/wood.jpg");
  background-size: cover;
}
.navbar-brand:hover {
  cursor: default;
}
.header-block__center {
  /* border: 1px solid rgb(151, 6, 6); */
  width: 60%;
  justify-content: space-between;
}
.navbar-light .navbar-nav .nav-link {
  color: $font-color-default;
}
.navbar-light .navbar-nav .nav-link:hover {
  color: $font-color-default;
  text-decoration: underline;
  transition: 0.3s;
  cursor: default;
}
.header-block__right a {
  color: #d2003c !important;
}
.header-block__right a:hover {
  text-decoration: underline;
  cursor: default;
  /* transition: .1s; */
}
