@import "../mixins";
@import "../variables";
@import "../media";

.header {
  background: white;
  border-bottom: 1px solid $font-color-border;
}
.header__top-wrapper {
  width: 100%;
  height: 48px;
  background: url("../assets/bg/wood.jpg");
  background-size: cover;
}

.header__top {
  & .navbar {
    /* border: 1px solid green; */
    position: relative;

    @include for-size(lg_down) {
      justify-content: start;
      align-items: end;
    }
    @include for-size(sm_down) {
      flex-wrap: nowrap;
    }
  }
  & .navbar-collapse {
    height: 32px;
    /* border: 1px solid palevioletred; */
  }

  & .navbar-light .navbar-nav .nav-link {
    color: $font-color-default;
  }

  & .navbar-light .navbar-nav .nav-link:hover {
    color: $font-color-default;
    text-decoration: underline;
    transition: 0.3s;
    cursor: default;
  }
  & .custom-toggler.navbar-toggler {
    border: none;
    padding-top: 0;
    margin-right: 6px;
  }

  & .custom-toggler .navbar-toggler-icon {
    background-image: url("../assets/icons/menu.png");
    background-size: cover;
    min-height: 37px;
    outline: none;
  }
  & .navbar-brand {
    display: none;
    /* outline: none; */

    @include for-size(lg_down) {
      display: flex;
    }
  }

  &-left {
    /*     & .navbar-text {
      min-width: 182px;
    } */
    & .nav-link {
      display: contents;
    }

    & a img {
      width: 11px;
      /* height: 15px; */
      margin-right: 10px;

      @include for-size(lg_down) {
        position: absolute;
        right: 0;
        width: 20px;
        height: 25px;
      }
    }
    & a span {
      text-decoration: underline;
      text-decoration-style: dashed;
      font-weight: bold;

      @include for-size(lg_down) {
        display: none;
      }
    }
  }

  &-center {
    /* border: 1px solid rgb(151, 6, 6); */
    width: 100%;
    justify-content: space-between;
    @include for-size(lg_down) {
      padding-left: 10px;
    }
  }

  &-right {
    text-align: end;
    & .nav-link {
      display: contents;
    }

    & a img {
      width: 11px;
      margin-right: 10px;

      @include for-size(lg_down) {
        position: absolute;
        padding-left: 5px;
        right: 50px;
        width: 30px;
        margin-right: 0;
      }
    }
    & a span {
      font-weight: bold;

      @include for-size(lg_down) {
        display: none;
      }
    }
  }
  &.container-md {
    @include for-size(lg_down) {
      width: 100% !important;
      /* background-color: darkgreen !important; */
      margin: 0;
    }
  }
}

.header__bottom {
  /* border: 1px solid salmon; */
  display: none;
  /* margin-top: 17px; */
  padding: 17px 0 20px;
  height: 75px;
  align-items: center;

  @include for-size(lg) {
    display: flex;
  }
}
.navbar-brand:hover {
  cursor: default;
}
