@import "../mixins";
@import "../variables";
@import "./catalog.scss";

section {
  margin: 30px 0;
}
.section-title {
  @include section-bg();
  & h1 {
    @include section-title();
  }
}

#first {
  & .carousel-control-prev {
    margin-left: 5%; /*перепроверить*/
  }
  & .carousel-control-next {
    margin-right: 5%; /*перепроверить*/
  }
}

#about {
  /*  border: 1px solid rgb(167, 25, 49); */
  & .cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  & .card {
    max-width: 18rem;
    width: 100%;
    align-items: center;
    /* height: fit-content; */
  }
  & .card img {
    width: 30px;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  & .card h5 {
    text-align: center;
    margin-bottom: 10px;
  }
}
#news {
  height: 500px;
  border: 1px solid rgb(29, 16, 18);
}
#reviews {
  /* border: 1px solid rgb(16, 83, 22); */
  overflow: hidden;
  & .cards {
    display: flex;
    /* justify-content: center; */
    justify-content: space-between;
    margin-top: 30px;
  }
  & .card {
    margin: 0 auto;
    min-width: 300px;
    max-width: 430px;
    /* margin: 0 5px; */
    & .card-text::before {
      content: "\00AB";
    }
    & .card-text::after {
      content: "\00BB";
    }
  }
}
/* .cards {
  display: flex;
  /* justify-content: center; */
/* justify-content: space-between;
  margin-top: 30px;
  & .card {
    margin: 0 auto;
    min-width: 300px;
    max-width: 430px;
    /* margin: 0 5px; */
/* & .card-text::before {
      content: "\00AB";
    }
    & .card-text::after {
      content: "\00BB";
    }
  } */
/*   & .card + .card {
    margin-left: 5px;
  } */
/*}*/
.img-wrapper {
  padding: 5px;
  text-align: center;
  align-self: center;
}
.reviews-img {
  width: 60%;
  max-width: 100px;
  border: 1px solid $font-color-default;
  border-radius: 50%;
}
