@import "../mixins";
@import "../variables";
@import "../media";
@import "./catalog.scss";

.main {
  margin-top: 150px; /* высота header */
  @include for-size(lg_down) {
    margin-top: 48px;
  }
}
section {
  margin: 30px 0;
}
.section-title {
  @include section-bg();
  & h1 {
    @include section-title();
  }
}
#first {
  overflow-x: hidden;
  & .carousel-control-prev {
    margin-left: 5%; /*перепроверить*/
  }
  & .carousel-control-next {
    margin-right: 5%; /*перепроверить*/
  }
}
#about {
  & .cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  & .card {
    padding: 15px 10px 20px;
    margin-bottom: 30px;
    max-width: 280px;
    width: 100%;
    align-items: center;

    &:hover {
      & img {
        transform: translateY(-5px);
      }
      & h4 {
        color: $font-color-active-1;
      }
      & p {
        color: $font-color-dark;
      }
    }
  }
  & .card-body {
    padding: 0;
  }
  & .card img {
    margin-bottom: 12px;
    max-width: 260px;
    height: 110px;
    transition: 0.2s ease;
  }

  & .card h4 {
    text-align: center;
    margin-bottom: 11px;
    @include text-card-h4();
    color: $font-color-h4;
    transition: 0.2s ease;
  }
  & .card p {
    max-height: 70px;
    text-align: center;
    @include text-default();
    color: $font-color-h4;
    transition: 0.2s ease;
    overflow: hidden;
  }
  & .instagram {
    /* border: 1px solid orangered; */
    & .section-title {
      background: transparent;
      margin: 10px 0;
      & h2 {
        @include h2();
      }
    }
    & .instfeed {
      background: $font-color-border;

      & .instagram_gallery {
        display: flex;
        /* justify-content: center; */
      }
    }
  }
}
#news {
  height: 500px;
  border: 1px solid rgb(29, 16, 18);
}
#reviews {
  /* border: 1px solid rgb(16, 83, 22); */
  overflow: hidden;
  & .cards {
    margin-top: 30px;
    padding: 0 2px;
    display: flex;
    justify-content: space-between;
  }
  & .card + .card {
    margin-left: 5px;
  }
  & .card {
    & .row {
      margin-left: auto;
      margin-right: auto;
    }
  }
}

.img-wrapper {
  padding: 5px;
  text-align: center;
  align-self: center;
}
.reviews-img {
  width: 60%;
  max-width: 100px;
  border: 1px solid $font-color-default;
  border-radius: 50%;
}
.reviews-add {
  /* border: 1px solid salmon; */
  display: flex;
  justify-content: flex-end;

  & .dropdown-toggle::after {
    display: none;
  }
  & .btn-check:focus + .btn,
  .btn:focus {
    box-shadow: none;
  }
  & button {
    color: $font-color-active-1;
  }
  & button:hover {
    color: $font-color-active-1;
    opacity: 0.8;
    transition: 0.3s ease;
  }
  & .dropdown-menu {
    background-color: $font-color-layer;

    & .dropdown-item img {
      margin-right: 5px;
    }
    & .dropdown-item span:hover {
      transition: 0.3s ease;
      text-decoration: underline;
      opacity: 0.8;
    }
    & .img-yandex {
      fill: red;
    }
  }
}

#FAQ {
  & .accordion {
    & .accordion-item {
      & .accordion-button:not(.collapsed) {
        color: $font-color-active-1;
        background-color: rgba(153, 153, 153, 0.2);
      }

      .accordion-button:not(.collapsed)::after {
        background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23cc0a3b'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
      }

      .accordion-button:hover {
        cursor: default;
      }
      .accordion-button:focus {
        cursor: default;
        border-color: $font-color-active-1;

        /* box-shadow: 0 0 0 0.25rem rgb(204 10 59 / 20%); */
        box-shadow: 0 0 0 0.25rem rgb(251 204 1 / 20%);
      }
    }
  }
}
