@import "../mixins";
@import "../variables";
@import "../media";
@import "./catalog.scss";

.main {
  margin-top: 150px; /* переделать?*/
}
section {
  margin: 30px 0;
}
.section-title {
  @include section-bg();
  & h1 {
    @include section-title();
  }
}
#first {
  overflow-x: hidden;
  & .carousel-control-prev {
    margin-left: 5%; /*перепроверить*/
  }
  & .carousel-control-next {
    margin-right: 5%; /*перепроверить*/
  }
}
#about {
  & .cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  & .card {
    padding: 15px 10px 20px;
    margin-bottom: 30px;
    max-width: 280px;
    width: 100%;
    align-items: center;

    &:hover {
      & img {
        transform: translateY(-5px);
      }
      & h4 {
        color: $font-color-active-1;
      }
      & p {
        color: $font-color-dark;
      }
    }
  }
  & .card-body {
    padding: 0;
  }
  & .card img {
    margin-bottom: 12px;
    max-width: 260px;
    height: 110px;
    transition: 0.2s ease;
  }

  & .card h4 {
    text-align: center;
    margin-bottom: 11px;
    @include text-card-h4();
    color: $font-color-h4;
    transition: 0.2s ease;
  }
  & .card p {
    max-height: 70px;
    text-align: center;
    @include text-default();
    color: $font-color-h4;
    transition: 0.2s ease;
    overflow: hidden;
  }
}
#news {
  height: 500px;
  border: 1px solid rgb(29, 16, 18);
}
#reviews {
  /* border: 1px solid rgb(16, 83, 22); */
  overflow: hidden;
  & .cards {
    display: flex;
    /* justify-content: center; */
    justify-content: space-between;
    margin-top: 30px;
  }
  & .card {
    min-width: 300px;
    max-width: 430px;
    padding: 0;
    & .row {
      margin-left: auto;
      margin-right: auto;
    }
  }
}

.img-wrapper {
  padding: 5px;
  text-align: center;
  align-self: center;
}
.reviews-img {
  width: 60%;
  max-width: 100px;
  border: 1px solid $font-color-default;
  border-radius: 50%;
}
