@import "./catalogslider.scss";

.main {
  margin-top: 150px; /* высота header */
  @include for-size(lg_down) {
    margin-top: 48px;
  }
}

.section-title {
  @include section-bg();
  & h1 {
    @include section-title();
  }
}

.modal {
  overflow-x: hidden;

  &-dialog {
    margin-top: 20%;
    -webkit-box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
    box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
  }
  &-content {
    background: url("../assets/bg/wood.jpg");
    background-size: cover;

    & .close {
      outline: none;
      background: transparent;
    }
  }
  &-body {
    text-align: center;
    font-size: 20px;
    color: $font-color-default;
    & ul li a {
      margin-bottom: 7px;
      @include link();
    }
  }
}

.first {
  &-slider-wrapper {
    width: 100%;
    position: relative;
  }
  & .slick-dotted.slick-slider {
    margin-bottom: 10px;
  }
  &-slider {
    & .slick-dots {
      @include slider-dots();
    }
    & .slick-slide {
      & img {
        width: 100%;
      }
    }
  }
  & .slick-prev,
  .slick-next {
    @include slider-arrows();
  }
  & .slick-prev {
    @include slider-arrow-left();
  }
  & .slick-next {
    @include slider-arrow-right();
  }
}

.benefit {
  padding: 5px 30px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  @include for-size(lg) {
    padding: 5px 0 0;
  }
  @include for-size(xl) {
    margin-top: 20px;
  }

  &-item {
    width: 50%;
    display: flex;

    &:nth-child(odd) {
      padding: 0 8px 15px 0;
    }
    &:nth-child(even) {
      padding: 0 0 15px 8px;
    }
    &:nth-child(3) {
      padding-bottom: 5px;
    }
    &:nth-child(4) {
      padding-bottom: 5px;
    }

    @include for-size(sm) {
      padding: 0 !important;
      width: 24%;
      max-height: 92px;
    }
    @include for-size(md) {
      max-height: 100%;
    }
    & img {
      border-radius: 7px;
      width: 100%;
      height: auto;
    }
    @include for-size(lg) {
      &:first-child {
        padding-left: 0;
      }
      &:last-child {
        padding-right: 0;
      }
    }
  }
}

.about {
  & .slick-dotted.slick-slider {
    padding-top: 5px;
  }
  &-slider {
    & .slick-prev,
    .slick-next {
      @include slider-arrows();
    }

    & .slick-prev {
      @include slider-arrow-left();
      left: 0;
    }
    & .slick-next {
      @include slider-arrow-right();
      right: 0;
    }

    @include for-size(lg) {
      padding: 0;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
    }

    & .slick-dots {
      bottom: -20px;

      & li {
        margin: 0;

        @include for-size(md) {
          // margin: 0 5px;
        }

        & button::before {
          color: $font-color-default;
          font-size: 10px;

          @include for-size(md) {
            font-size: 15px;
          }
        }
        &.slick-active button::before {
          color: $font-color-active-1;
        }
      }
    }
  }
  & .cards {
    //боковые отступы
    padding: 0 30px;

    @include for-size(lg) {
      padding: 0;
    }
    & .row {
      margin: 0;
      padding: 0;
      --bs-gutter-x: 0;
    }
  }
  & .card {
    display: flex;
    margin: 0 0 5px 0;
    padding: 0 5px;
    min-height: 235px;

    align-items: center;

    @include for-size(sm) {
      display: inline-flex;
      width: 49%;
      margin-bottom: 10px;
      min-height: 260px;
      &:nth-child(odd) {
        margin-right: 10px;
      }
      &:nth-child(7) {
        margin-bottom: 0;
      }
      &:nth-child(8) {
        margin-bottom: 0;
      }
    }
    @include for-size(md) {
      min-height: 250px;
      width: 48%;
      margin-bottom: 30px;
      &:nth-child(odd) {
        margin-right: 29px;
      }
      &:nth-child(even) {
        float: right;
      }
    }
    @include for-size(lg) {
      display: flex;
      width: 23%;
      //margin: 0 0 20px;
      margin: 0 0 25px;

      &:nth-child(odd) {
        margin-right: 0;
      }

      &:nth-child(5),
      &:nth-child(6),
      &:nth-child(7),
      &:nth-child(8) {
        margin-bottom: 5px;
      }
    }

    @include for-size(xl) {
      margin-bottom: 30px;
    }
    @include for-size(xxl) {
      margin-bottom: 35px;
    }

    &:hover {
      & img {
        transform: translateY(-5px);
      }
      & h4 {
        color: $font-color-active-1;
      }
      & p {
        color: $font-color-dark;
      }
    }

    &:focus,
    &:active {
      outline: none;
    }
  }

  & .card-body {
    padding: 0;
  }
  & .card img {
    margin-bottom: 12px;
    max-width: 260px;
    height: 110px;
    transition: 0.2s ease;
  }

  & .card h4 {
    text-align: center;
    margin-bottom: 11px;
    @include text-card-h4();
    color: $font-color-h4;
    transition: 0.2s ease;
  }
  & .card p {
    text-align: center;
    @include text-default();
    color: $font-color-h4;
    transition: 0.2s ease;
    overflow: hidden;
  }

  & .instagram {
    & .section-title {
      display: flex;
      align-items: center;
      justify-content: center;
      background: transparent;

      padding: 0 10px;
      & a {
        width: 74%;
        display: flex;
        align-items: center;
        justify-content: center;

        @include link();

        &:hover {
          text-decoration: none;
        }

        @include for-size(sm) {
          flex-wrap: nowrap;
          width: 84%;
        }

        & h2 {
          color: $font-color-default;
          font-size: 19px;
          display: inline-flex;
          margin: 0 0 0 5px;
          @include for-size(sm) {
            font-size: 22px;
          }
        }
      }
    }
    & .instfeed {
      display: flex;
      justify-content: center;
      padding: 0 25px;

      @include for-size(md) {
        //padding: 0 20px;
      }
      @include for-size(lg) {
        padding: 0;
      }

      & .instagram_gallery {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        width: 100%;
        margin: 0 !important;
        text-align: center;
        overflow: hidden;

        & a {
          //3 в ряд
          width: 32%;

          @include for-size(sm) {
            //4 в ряд
            width: 24%;
          }
          @include for-size(md) {
            //6 в ряд
            width: 15%;
          }

          @include for-size(xl) {
            //10 в ряд
            width: 9%;
          }
          @include for-size(xxl) {
            //12 в ряд
            flex-wrap: nowrap;
            width: 8%;
          }

          &:nth-child(5) img,
          &:nth-child(6) img,
          &:nth-child(7) img,
          &:nth-child(8) img {
            margin-bottom: 5px;
          }

          & img {
            margin: 4px;
            width: 90%;
            border: 1px solid $font-color-border;

            @include for-size(sm) {
              margin-bottom: 10px;
            }
            @include for-size(md) {
              //margin: 0 0 12px 0;
              //width: 100%;
              margin-bottom: 5px;

              //margin: 0 0 15px 0;
            }
            @include for-size(lg) {
              //margin: 0 0 15px 0;
              width: 100%;
            }
            @include for-size(xl) {
              // картинки в один ряд
              margin: 0;
            }
          }
        }
      }
    }
  }
}
.news {
  &-cards {
    display: flex;
    flex-wrap: wrap;
    //боковые отступы
    padding: 5px 30px;
    justify-content: center;

    @include for-size(md) {
      justify-content: space-between;
    }
    @include for-size(lg) {
      padding: 5px 0;
    }

    & .card {
      text-align: center;
      margin-bottom: 20px;

      @include for-size(lg) {
        max-width: 460px;
        margin-bottom: 15px;
      }
      @include for-size(xl) {
        max-width: 545px;
        text-align: left;
        margin-bottom: 25px;
      }
      @include for-size(xxl) {
        max-width: 630px;
      }

      &:last-child {
        margin-bottom: 0px;
      }
      @include for-size(lg) {
        &:nth-child(3) {
          margin-bottom: 0px;
        }
      }

      & .img-wrapper {
        position: relative;
        padding-top: 15px;

        @include for-size(sm) {
        }
        @include for-size(xl) {
          text-align: center;
        }

        & img {
          width: 180px;
          border-radius: 7px;
          @include for-size(md) {
            width: 180px;
            position: absolute;
            margin: auto;
            top: 0;
            bottom: 0;
            right: 0;
            left: 0;
          }
          @include for-size(lg) {
            position: relative;
          }
          @include for-size(xxl) {
            width: 200px;
          }
        }
      }

      & .card-body {
        @include for-size(lg) {
          padding-left: 20px;
        }
        @include for-size(xl) {
          padding: 16px 10px 16px 16px;
        }
        & h5 {
          font-weight: bold;
          @include for-size(xl_down) {
            font-size: 18px;
          }
        }
      }
    }
  }
}

.reviews {
  &-slider-wrapper {
    width: 100%;
    position: relative;

    & .slick-prev,
    .slick-next {
      @include slider-arrows();
    }

    & .slick-prev {
      @include slider-arrow-left();
    }
    & .slick-next {
      @include slider-arrow-right();
    }
  }

  &-slider-content {
    width: 100%;

    //боковые отступы
    padding: 5px 30px 0;

    @include for-size(lg) {
      padding: 5px 0;
    }
  }

  & .slick-dotted.slick-slider {
    margin-bottom: 15px;
  }

  &-slider {
    & .slick-slide {
      margin: 0 30px;

      @include for-size(sm) {
        margin: 0 10px;
      }
      @include for-size(lg) {
        margin: 0 15px;
      }
      & iframe {
        width: 100%;
      }
    }

    & .slick-list {
      margin-left: -30px;
      margin-right: -30px;

      @include for-size(sm) {
        margin-left: -10px;
        margin-right: -10px;
      }
      @include for-size(lg) {
        margin-left: -15px;
        margin-right: -15px;
      }
    }

    & .slick-dots {
      bottom: -20px;

      & li {
        margin: 0;

        @include for-size(md) {
          // margin: 0 5px;
        }

        & button::before {
          color: $font-color-default;
          font-size: 10px;

          @include for-size(md) {
            font-size: 15px;
          }
        }
        &.slick-active button::before {
          color: $font-color-active-1;
        }
      }
    }
  }

  & .card {
    width: 100%;
    border: none;
    & .row {
      margin-left: auto;
      margin-right: auto;
    }
  }

  &-add {
    display: flex;
    justify-content: flex-end;

    & .btn-group {
      width: 200px;
      display: flex;
    }

    & .dropdown-menu {
      width: 100%;
      margin-bottom: -1px;
    }

    & .dropdown-toggle::after {
      display: none;
    }
    & .btn-check:focus + .btn,
    .btn:focus {
      box-shadow: none;
    }
    & button {
      color: $font-color-active-1;
      //боковые отступы
      padding: 0 30px;
      text-align: right;

      @include for-size(lg) {
        padding: 0;
      }
    }
    & button:hover {
      color: $font-color-active-1;
      opacity: 0.8;
      transition: 0.3s ease;
    }
    & .dropdown-menu {
      //padding: 0 5px;
      background-color: $font-color-layer;

      & .dropdown-item img {
        margin-right: 5px;
      }
      & .dropdown-item span:hover {
        transition: 0.3s ease;
        text-decoration: underline;
        opacity: 0.8;
      }
      & .img-yandex {
        fill: red;
      }
    }
  }
}

.faq {
  & .accordion {
    //боковые отступы
    padding: 5px 30px;
    @include for-size(lg) {
      padding: 5px 0;
    }

    &-body {
      background-color: rgba(238, 238, 238, 0.9);
    }

    &-button {
      padding: 1rem 0.5rem;
      justify-content: space-between;

      &::after {
        margin-left: 5px;
      }

      &:not(.collapsed) {
        color: $font-color-default;
        font-weight: bold;
        background-color: transparent;
      }

      &:not(.collapsed)::after {
        background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23333'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
      }

      &:focus {
        border-color: $font-color-h4;
        box-shadow: none;
      }
      &.collapsed:focus {
        border-color: rgba(0, 0, 0, 0.125);
        box-shadow: none;
      }
      &:active {
        border-color: $font-color-h4;
        box-shadow: none;
      }
    }
  }
}
