@charset "UTF-8";
.header {
  width: 100%;
  background: url("../assets/bg/wood.jpg");
  background-size: cover;
}

.navbar-brand:hover {
  cursor: default;
}

.header-block__center {
  /* border: 1px solid rgb(151, 6, 6); */
  width: 60%;
  justify-content: space-between;
}

.navbar-light .navbar-nav .nav-link {
  color: #333;
}

.navbar-light .navbar-nav .nav-link:hover {
  color: #333;
  text-decoration: underline;
  transition: 0.3s;
  cursor: default;
}

.header-block__right a {
  color: #d2003c !important;
}

.header-block__right a:hover {
  text-decoration: underline;
  cursor: default;
  /* transition: .1s; */
}

#catalog {
  /* height: 600px; */
  /* border: 1px solid rgb(25, 46, 167); */
}

.category {
  /* border: 1px solid rgb(109, 30, 6); */
  padding: 50px 0;
}

.category .nav-item {
  border: 1px solid #333;
  border-radius: 10px;
  transition: all 0.3s;
}

.category .nav-item:hover {
  background: rgba(51, 51, 51, 0.1);
  cursor: default;
}

.category .nav-link {
  color: #333;
}

.active-link {
  color: #d2003c !important;
}

.carousel {
  /* border: 1px solid rgb(255, 0, 128); */
}

.carousel-control-prev,
.carousel-control-next {
  opacity: 1;
}

.carousel-control-prev:hover,
.carousel-control-next:hover {
  cursor: default;
}

.carousel-control-prev {
  /* left: -150px; */
  left: -10%;
}

.carousel-control-next {
  /* right: -150px; */
  right: -10%;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  width: 18px;
  height: 34px;
  transition: all 0.3s;
}

.carousel-control-prev-icon:hover {
  transform: translateX(-10px);
}

.carousel-control-next-icon:hover {
  transform: translateX(10px);
}

.carousel-control-prev-icon {
  background: url("../assets/icons/left.png") no-repeat;
}

.carousel-control-next-icon {
  background: url("../assets/icons/right.png") no-repeat;
}

.main {
  margin-top: 150px;
  /* переделать*/
}

section {
  margin: 30px 0;
}

.section-title {
  margin: 30px 0;
  padding: 5px 0 10px;
  border-radius: 7px;
  background: url("../assets/bg/bg-section-title.png");
  /* background: #f5f5f5; */
  background-attachment: fixed;
  text-align: center;
}
.section-title h1 {
  font: 300 40px/48px "Open Sans", "Arial", sans-serif;
}

#first .carousel-control-prev {
  margin-left: 5%;
  /*перепроверить*/
}
#first .carousel-control-next {
  margin-right: 5%;
  /*перепроверить*/
}

#about {
  /*  border: 1px solid rgb(167, 25, 49); */
}
#about .cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
#about .card {
  padding: 15px 10px 20px;
  margin-bottom: 30px;
  max-width: 280px;
  width: 100%;
  align-items: center;
}
#about .card:hover img {
  transform: translateY(-5px);
}
#about .card:hover h4 {
  color: #cc0a3b;
}
#about .card:hover p {
  color: #000;
}
#about .card-body {
  padding: 0;
}
#about .card img {
  margin-bottom: 12px;
  max-width: 260px;
  height: 110px;
  transition: 0.2s ease;
}
#about .card h4 {
  text-align: center;
  margin-bottom: 11px;
  font-weight: lighter;
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 22px;
  line-height: 1.45em;
  color: #999999;
  transition: 0.2s ease;
}
#about .card p {
  max-height: 70px;
  text-align: center;
  /* font: 300 14px/23px "Open Sans", "Arial", sans-serif; */
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 14px;
  font-weight: 300;
  line-height: 23px;
  color: #999999;
  transition: 0.2s ease;
  overflow: hidden;
}

#news {
  height: 500px;
  border: 1px solid #1d1012;
}

#reviews {
  /* border: 1px solid rgb(16, 83, 22); */
  overflow: hidden;
}
#reviews .cards {
  display: flex;
  /* justify-content: center; */
  justify-content: space-between;
  margin-top: 30px;
}
#reviews .card {
  margin: 0 auto;
  min-width: 300px;
  max-width: 430px;
  /* margin: 0 5px; */
}

.img-wrapper {
  padding: 5px;
  text-align: center;
  align-self: center;
}

.reviews-img {
  width: 60%;
  max-width: 100px;
  border: 1px solid #333;
  border-radius: 50%;
}

#footer {
  width: 100%;
}
#footer .footer-contacts__wrapper {
  background: url("../assets/bg/wood.jpg");
  background-size: cover;
  padding-top: 30px;
}
#footer .footer-contacts__wrapper .col {
  /*  border: 1px solid green; */
  height: 250px;
}

.map {
  height: 400px;
}

.contacts-1 ul {
  padding: 0;
}
.contacts-1 ul li {
  list-style: none;
  display: flex;
  align-items: center;
}
.contacts-1 ul li div {
  padding: 5px;
}
.contacts-1 ul li .address__img {
  height: fit-content;
}
.contacts-1 ul li .address__text p {
  margin-bottom: 0;
}
.contacts-1 ul li a {
  text-decoration: none;
  color: #333;
}

.contacts-2 a {
  text-decoration: none;
  color: #333;
}
.contacts-2 a span {
  margin-left: 5px;
}
.contacts-2 ul {
  padding: 0;
}
.contacts-2 ul li {
  border: 1px solid orange;
  list-style: none;
  display: contents;
}

html {
  scroll-behavior: smooth;
}

body {
  color: #333;
  cursor: default;
  /* font: 300 14px/23px "Open Sans", "Arial", sans-serif; */
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 14px;
  font-weight: 300;
  line-height: 23px;
}

.container-fluid {
  padding: 0;
}

.container-md {
  padding: 0;
}

strong {
  font-weight: bold;
}

/*# sourceMappingURL=style.css.map */
