@charset "UTF-8";
@media (max-width: 992px) {
  .container-md {
    max-width: 100%;
  }
}

@media (max-width: 992px) {
  .container-md {
    max-width: 100%;
  }
}

@media (max-width: 992px) {
  .container-md {
    max-width: 100%;
  }
}

.header {
  background: white;
  border-bottom: 1px solid rgba(51, 51, 51, 0.5);
}

.header__top-wrapper {
  width: 100%;
  height: 48px;
  background: url("../assets/bg/wood.jpg");
  background-size: cover;
}

.header__top .navbar {
  /* border: 1px solid green; */
  position: relative;
}
@media (max-width: 992px) {
  .header__top .navbar {
    justify-content: start;
    align-items: end;
  }
}
@media (max-width: 575px) {
  .header__top .navbar {
    flex-wrap: nowrap;
  }
}
.header__top .navbar-collapse {
  height: 32px;
  /* border: 1px solid palevioletred; */
}
.header__top .navbar-light .navbar-nav .nav-link {
  color: #333;
}
.header__top .navbar-light .navbar-nav .nav-link:hover {
  color: #333;
  text-decoration: underline;
  transition: 0.3s;
  cursor: default;
}
.header__top .custom-toggler.navbar-toggler {
  border: none;
  padding-top: 0;
  margin-right: 6px;
}
.header__top .custom-toggler .navbar-toggler-icon {
  background-image: url("../assets/icons/menu.png");
  background-size: cover;
  min-height: 37px;
  outline: none;
}
.header__top .navbar-brand {
  display: none;
  /* outline: none; */
}
@media (max-width: 992px) {
  .header__top .navbar-brand {
    display: flex;
  }
}
.header__top-left {
  /*     & .navbar-text {
    min-width: 182px;
  } */
}
.header__top-left .nav-link {
  display: contents;
}
.header__top-left a img {
  width: 11px;
  /* height: 15px; */
  margin-right: 10px;
}
@media (max-width: 992px) {
  .header__top-left a img {
    position: absolute;
    right: 0;
    width: 20px;
    height: 25px;
  }
}
.header__top-left a span {
  text-decoration: underline;
  text-decoration-style: dashed;
  font-weight: bold;
}
@media (max-width: 992px) {
  .header__top-left a span {
    display: none;
  }
}
.header__top-center {
  /* border: 1px solid rgb(151, 6, 6); */
  width: 100%;
  justify-content: space-between;
}
@media (max-width: 992px) {
  .header__top-center {
    padding-left: 10px;
  }
}
.header__top-right {
  text-align: end;
}
.header__top-right .nav-link {
  display: contents;
}
.header__top-right a img {
  width: 11px;
  margin-right: 10px;
}
@media (max-width: 992px) {
  .header__top-right a img {
    position: absolute;
    padding-left: 5px;
    right: 50px;
    width: 30px;
    margin-right: 0;
  }
}
.header__top-right a span {
  font-weight: bold;
}
@media (max-width: 992px) {
  .header__top-right a span {
    display: none;
  }
}
@media (max-width: 992px) {
  .header__top.container-md {
    width: 100% !important;
    /* background-color: darkgreen !important; */
    margin: 0;
  }
}

.header__bottom {
  /* border: 1px solid salmon; */
  display: none;
  /* margin-top: 17px; */
  padding: 17px 0 20px;
  height: 75px;
  align-items: center;
  justify-content: space-between;
}
@media (min-width: 992px) {
  .header__bottom {
    display: flex;
  }
}

.navbar-brand:hover {
  cursor: default;
}

@media (max-width: 992px) {
  .container-md {
    max-width: 100%;
  }
}

@media (max-width: 992px) {
  .container-md {
    max-width: 100%;
  }
}

@media (max-width: 992px) {
  .container-md {
    max-width: 100%;
  }
}

#catalog {
  /* height: 600px; */
  /* border: 1px solid rgb(25, 46, 167); */
}

.category {
  /* border: 1px solid rgb(109, 30, 6); */
  padding: 50px 0;
}

.category .nav-item {
  border: 1px solid #333;
  border-radius: 10px;
  transition: all 0.3s;
}

.category .nav-item:hover {
  background: rgba(51, 51, 51, 0.1);
  cursor: default;
}

.category .nav-link {
  color: #333;
}

.active-link {
  color: #d2003c !important;
}

.carousel {
  /* border: 1px solid rgb(255, 0, 128); */
}
.carousel-item {
  text-align: center;
}

.carousel-control-prev,
.carousel-control-next {
  opacity: 1;
}

.carousel-control-prev:hover,
.carousel-control-next:hover {
  cursor: default;
}

.carousel-control-prev {
  /* left: -150px; */
  left: -10%;
}
@media (max-width: 992px) {
  .carousel-control-prev {
    top: 25%;
    left: 0;
  }
}

.carousel-control-next {
  /* right: -150px; */
  right: -10%;
}
@media (max-width: 992px) {
  .carousel-control-next {
    top: 25%;
    right: 0;
  }
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  width: 18px;
  height: 34px;
  transition: all 0.3s;
}

.carousel-control-prev-icon:hover {
  transform: translateX(-10px);
}

.carousel-control-next-icon:hover {
  transform: translateX(10px);
}

.carousel-control-prev-icon {
  background: url("../assets/icons/left.png") no-repeat;
}

.carousel-control-next-icon {
  background: url("../assets/icons/right.png") no-repeat;
}

.main {
  margin-top: 150px;
  /* высота header */
}
@media (max-width: 992px) {
  .main {
    margin-top: 48px;
  }
}

section {
  margin: 30px 0;
}

.section-title {
  margin: 30px 0;
  padding: 5px 0 10px;
  border-radius: 7px;
  /* background: url("../assets/bg/bg-section-title.png"); */
  background: #f5f5f5;
  /* background-attachment: fixed; */
  text-align: center;
}
@media (max-width: 992px) {
  .section-title {
    margin: 10px 0;
    padding: 5px 0;
  }
}
.section-title h1 {
  font: 300 40px/48px "Open Sans", "Arial", sans-serif;
}
@media (max-width: 992px) {
  .section-title h1 {
    font-size: 28px;
    line-height: 34px;
  }
}

.modal-dialog {
  margin-top: 20%;
  -webkit-box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
  -moz-box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
  box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
}
.modal-content {
  background: url("../assets/bg/wood.jpg");
  background-size: cover;
}
.modal-content .close {
  outline: none;
  background: transparent;
}
.modal-body {
  text-align: center;
  font-size: 20px;
  color: #333;
}
.modal-body ul li a {
  margin-bottom: 7px;
  text-decoration: none;
  color: #333;
}
.modal-body ul li a:hover {
  text-decoration: underline;
  cursor: default;
}

.first {
  width: 100%;
  overflow-x: hidden;
}
.first .carousel-control-prev {
  margin-left: 5%;
  /*перепроверить*/
}
.first .carousel-control-next {
  margin-right: 5%;
  /*перепроверить*/
}

.benefit {
  margin-top: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.benefit-item {
  /* width: 150px; */
  display: flex;
}
.benefit-item img {
  border-radius: 7px;
}

#about .cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
#about .card {
  padding: 15px 10px 20px;
  margin-bottom: 30px;
  max-width: 280px;
  width: 100%;
  align-items: center;
}
#about .card:hover img {
  transform: translateY(-5px);
}
#about .card:hover h4 {
  color: #cc0a3b;
}
#about .card:hover p {
  color: #000;
}
#about .card-body {
  padding: 0;
}
#about .card img {
  margin-bottom: 12px;
  max-width: 260px;
  height: 110px;
  transition: 0.2s ease;
}
#about .card h4 {
  text-align: center;
  margin-bottom: 11px;
  font-weight: lighter;
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 22px;
  line-height: 1.45em;
  color: #999999;
  transition: 0.2s ease;
}
#about .card p {
  max-height: 70px;
  text-align: center;
  /* font: 300 14px/23px "Open Sans", "Arial", sans-serif; */
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 14px;
  font-weight: 300;
  line-height: 23px;
  color: #999999;
  transition: 0.2s ease;
  overflow: hidden;
}
#about .instagram {
  /* border: 1px solid orangered; */
}
#about .instagram .section-title {
  display: flex;
  align-items: center;
  justify-content: center;
  background: transparent;
  margin: 10px 0 30px;
  padding: 0 5px;
}
#about .instagram .section-title h2 {
  /* @include h2(); */
  color: #333;
  display: inline-flex;
  margin: 0 0 0 5px;
}
#about .instagram .instfeed {
  /* background: $font-color-border; */
  display: flex;
}
#about .instagram .instfeed .instagram_profile {
  padding-right: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  /* border: 1px solid lawngreen; */
  width: 20%;
  margin: 0 !important;
}
#about .instagram .instfeed .instagram_profile_image {
  width: 80px;
  border-radius: 50%;
}
#about .instagram .instfeed .instagram_gallery {
  /* padding-left: 150px; */
  width: 80%;
  margin: 0 !important;
  text-align: right;
  /* display: flex;
  flex-wrap: wrap; */
  /* justify-content: center; */
}
#about .instagram .instfeed .instagram_gallery img {
  margin: 1px;
  max-width: 125px;
  border: 1px solid rgba(51, 51, 51, 0.5);
}

#news {
  height: 500px;
  border: 1px solid #1d1012;
}

#reviews {
  /* border: 1px solid rgb(16, 83, 22); */
  overflow: hidden;
}
#reviews .cards {
  margin-top: 30px;
  padding: 0 2px;
  display: flex;
  justify-content: space-between;
}
#reviews .card + .card {
  margin-left: 5px;
}
#reviews .card .row {
  margin-left: auto;
  margin-right: auto;
}

.img-wrapper {
  padding: 5px;
  text-align: center;
  align-self: center;
}

.reviews-img {
  width: 60%;
  max-width: 100px;
  border: 1px solid #333;
  border-radius: 50%;
}

.reviews-add {
  /* border: 1px solid salmon; */
  display: flex;
  justify-content: flex-end;
}
.reviews-add .dropdown-toggle::after {
  display: none;
}
.reviews-add .btn-check:focus + .btn,
.reviews-add .btn:focus {
  box-shadow: none;
}
.reviews-add button {
  color: #cc0a3b;
}
.reviews-add button:hover {
  color: #cc0a3b;
  opacity: 0.8;
  transition: 0.3s ease;
}
.reviews-add .dropdown-menu {
  background-color: #ededed;
}
.reviews-add .dropdown-menu .dropdown-item img {
  margin-right: 5px;
}
.reviews-add .dropdown-menu .dropdown-item span:hover {
  transition: 0.3s ease;
  text-decoration: underline;
  opacity: 0.8;
}
.reviews-add .dropdown-menu .img-yandex {
  fill: red;
}

#FAQ .accordion .accordion-item .accordion-button:not(.collapsed) {
  color: #cc0a3b;
  background-color: rgba(153, 153, 153, 0.2);
}
#FAQ .accordion .accordion-item .accordion-button:not(.collapsed)::after {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23cc0a3b'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
}
#FAQ .accordion .accordion-item .accordion-button:hover {
  cursor: default;
}
#FAQ .accordion .accordion-item .accordion-button:focus {
  cursor: default;
  border-color: #cc0a3b;
  /* box-shadow: 0 0 0 0.25rem rgb(204 10 59 / 20%); */
  box-shadow: 0 0 0 0.25rem rgba(251, 204, 1, 0.2);
}

@media (max-width: 992px) {
  .container-md {
    max-width: 100%;
  }
}

@media (max-width: 992px) {
  .container-md {
    max-width: 100%;
  }
}

#contacts {
  width: 100%;
}
#contacts .footer-contacts__wrapper {
  background: url("../assets/bg/wood.jpg");
  background-size: cover;
  padding-top: 30px;
}
#contacts .footer-contacts__wrapper .col {
  /*  border: 1px solid green; */
  /* height: 250px; */
}

.contacts-list-wrapper {
  min-height: 182px;
}

.map {
  height: 400px;
}

.contacts-1-title {
  font-weight: bold;
  text-align: center;
}
.contacts-1-list-1 .clock-text p {
  margin: 0;
}
.contacts-1-list-2 {
  border-top: 1px solid rgba(51, 51, 51, 0.5);
  display: flex;
  justify-content: center;
}
.contacts-1-list-2 li {
  margin-right: 10px;
}
.contacts-1 ul li {
  display: flex;
  align-items: center;
}
.contacts-1 ul li div {
  padding: 5px;
}
.contacts-1 ul li .address-img {
  height: fit-content;
}
.contacts-1 ul li .address-text p {
  margin-bottom: 0;
}
.contacts-1 ul li a {
  text-decoration: none;
  color: #333;
}
.contacts-1 ul li a:hover {
  text-decoration: underline;
  cursor: default;
}

.contacts-form {
  height: fit-content;
  border: 1px solid rgba(51, 51, 51, 0.5);
  border-radius: 7px;
  padding: 10px;
}
.contacts-form h3 {
  margin-bottom: 10px;
  text-align: center;
  color: #cc0a3b;
}
.contacts-form-list-1 {
  margin-bottom: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.contacts-form-list-2 {
  display: flex;
  justify-content: center;
}
.contacts-form-list-2 li {
  margin: 0 5px;
}
.contacts-form ul li {
  margin-top: 7px;
}
.contacts-form ul li a {
  text-decoration: none;
  color: #333;
  font-size: 20px;
}
.contacts-form ul li a:hover {
  text-decoration: underline;
  cursor: default;
}

.contacts-2-title {
  font-weight: bold;
  text-align: center;
}
.contacts-2-block {
  display: flex;
  justify-content: space-between;
}
.contacts-2-block-list-1 li {
  margin-top: 7px;
}
.contacts-2-block-list-2 li {
  margin-top: 7px;
  text-align: right;
}
.contacts-2-list-3 {
  padding-top: 10px;
  justify-content: center;
  border-top: 1px solid rgba(51, 51, 51, 0.5);
  display: flex;
}
.contacts-2-list-3 li {
  margin-right: 10px;
}
.contacts-2 a {
  text-decoration: none;
  color: #333;
}
.contacts-2 a:hover {
  text-decoration: underline;
  cursor: default;
}
.contacts-2 a span {
  margin-left: 5px;
}
.contacts-2 ul li {
  /* border: 1px solid orange; */
  /* display: contents; */
}

@media (max-width: 992px) {
  .container-md {
    max-width: 100%;
  }
}

html {
  scroll-behavior: smooth;
}

body {
  color: #333;
  cursor: default;
  /* font: 300 14px/23px "Open Sans", "Arial", sans-serif; */
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 14px;
  font-weight: 300;
  line-height: 23px;
}

ul {
  padding-left: 0;
}
ul li {
  list-style: none;
}

.container-fluid {
  padding: 0;
}

.container-md {
  padding-left: 0;
  padding-right: 0;
}

.anchor::before {
  display: block;
  content: "";
  margin-top: -150px;
  /* высота header */
  height: 150px;
  visibility: hidden;
}
@media (max-width: 992px) {
  .anchor::before {
    margin-top: -55px;
    height: 55px;
  }
}

/*# sourceMappingURL=style.css.map */
