@mixin for-size($size) {
  @if $size==sm {
    @media (min-width: 575px) {
      @content;
    }
  } @else if $size==md {
    @media (min-width: 768px) {
      @content;
    }
  } @else if $size==lg {
    @media (min-width: 992px) {
      @content;
    }
  } @else if $size==xl {
    @media (min-width: 1200px) {
      @content;
    }
  } @else if $size==xxl {
    @media (min-width: 1400px) {
      @content;
    }
  } @else if $size==lg_down {
    @media (max-width: 992px) {
      @content;
    }
  } @else if $size==xl_down {
    @media (max-width: 1200px) {
      @content;
    }
  } @else if $size==sm_down {
    @media (max-width: 575px) {
      @content;
    }
  }
}

.container-md {
  @include for-size(sm) {
    max-width: 100%;
  }

  @include for-size(lg_down) {
    max-width: 100%;
  }
}
