@import "./variables";
@import "./media";

@mixin section-bg {
  margin: 30px 0;
  padding: 5px 0 10px;
  border-radius: 7px;
  /* background: url("../assets/bg/bg-section-title.png"); */
  background: #f5f5f5;
  /* background-attachment: fixed; */
  text-align: center;
  @include for-size(lg_down) {
    margin: 10px 0;
    padding: 5px 0;
  }
}
@mixin section-title {
  font: 300 40px/48px "Open Sans", "Arial", sans-serif;
  @include for-size(lg_down) {
    font-size: 28px;
    line-height: 34px;
  }
}
@mixin h2 {
  font: 300 32px/48px "Open Sans", "Arial", sans-serif;
  @include for-size(lg_down) {
    font-size: 20px;
    line-height: 30px;
  }
}
@mixin text-default {
  /* font: 300 14px/23px "Open Sans", "Arial", sans-serif; */
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 14px;
  font-weight: 300;
  line-height: 23px;
}
@mixin text-card-h4 {
  font-weight: lighter;
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 22px;
  line-height: 1.45em;
}
@mixin contacts-item {
  display: flex;
  align-items: center;
}

@mixin link {
  text-decoration: none;
  color: $font-color-default;
}
