@import "./mixins";
@import "./variables";
@import "./blocks/header.scss";
@import "./blocks/main.scss";
@import "./blocks/footer.scss";
@import "./media";

html {
  scroll-behavior: smooth;
}

body {
  color: $font-color-default;
  cursor: default;
  @include text-default();
}
ul {
  padding-left: 0;
  & li {
    list-style: none;
  }
}

.container-fluid {
  padding: 0;
}
.container-md {
  padding-left: 0;
  padding-right: 0;
}
.anchor::before {
  display: block;
  content: "";
  margin-top: -150px; /* высота header */
  height: 150px;
  visibility: hidden;
  @include for-size(lg_down) {
    margin-top: -55px;
    height: 55px;
  }
}
