@import "./mixins";
@import "./variables";
@import "./blocks/header.scss";
@import "./blocks/main.scss";
@import "./blocks/footer.scss";

html {
  scroll-behavior: smooth;
}

body {
  color: $font-color-default;
  cursor: default;
  @include text-default();
}

.container-fluid {
  padding: 0;
}
.container-md {
  padding: 0;
}
strong {
  font-weight: bold;
}
